* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "aria-font";
}

:root {
    --width-height-image-product: 300px;
}

@font-face {
    font-family: "aria-font";
    src: url(../static/fonts/arial.ttf);
}


.header-contailner {
    height: 70px;
    background-color: #dad9fb;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 0 5%;
}

.main-image-product img{
    width: var(--width-height-image-product);
    height: var(--width-height-image-product);
}

.product-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.product-sizes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 30px;
}

.product-sizes p{
    border: 2px solid black;
    /* margin: p; */
    padding: 5px;
    border-radius: 10px;
}

.detail-product {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.product-checked {
    background-color: rgb(0, 157, 255);
    color: white;
}

.add-to-card-btn {
    width: 150px;
    height: 30px;
    background-color: #1a2980;
    border: none;
    color: #ffff;
    border-radius: 10px;
    transition: 0.4s;
}

.add-to-card-btn:hover{
    scale: 1.04;
    box-shadow: 5px 5px 5px 5px #757575;
}