* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "aria-font";
}

:root {
    --width-height-image-product: 300px;
}

@font-face {
    font-family: "aria-font";
    src: url(../static/fonts/arial.ttf);
}


.header-contailner {
    height: 70px;
    background-color: #dad9fb;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 0 5%;
}

.main-image-product img{
    width: var(--width-height-image-product);
    height: var(--width-height-image-product);
}

.single_product {
  margin: 8% 0;
}

.single_product_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.single_product_img img {
  width: 100%;
  border-radius: 10px;
  max-width: 600px;
}

.single_product_sizes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.single_product_size {
  border: 2px solid #1a2980;
  width: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.add_to_cart {
  margin-top: 20px;
  border: none;
  background-color: #1a2980;
  color: #fff;
  padding: 10px 25px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.add_to_cart:hover {
  background-color: #3b38a0;
  transform: scale(1.04);
  box-shadow: 1px 1px 5px #1a2980;
}

.single_product_description p{
    /* width: 200px; */
}