* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "aria-font";
}

@font-face {
    font-family: "aria-font";
    src: url(../static/fonts/arial.ttf);
}

:root {
    --width-height : 50px;
    --margin-left-right : 60px;
    --width-height-intro-image : 600px;
    --width-height-image-product : 300px;
    --text-color : #1a2a80;
    --color-view-btn : #110094;
}

.nav-bar-logo img{
    width: var(--width-height);
    height: var(--width-height);
    margin-left: var(--margin-left-right);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.nav-bar-signup-signin-links {
    margin-right: var(--margin-left-right);
    background-color: var(--text-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: white;
}

.nav-bar-links a{
    text-decoration: none;
    color: #374590;
}

.nav-bar-links {
    display: flex;
    gap: 20px;
}

.main-intro-image img{
    width: var(--width-height-intro-image);
    height: var(--width-height-intro-image);
}

.main-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #110094;
    background: linear-gradient(90deg, rgba(17, 0, 148, 1) 0%, rgba(82, 87, 255, 1) 47%, rgba(140, 177, 255, 1) 100%);
}

.main-intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-intro-text p{
    width: 450px;
    font-size: 50px;
}

.main-intro-text-shop-link {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    border: 2px solid white;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
}

.main-intro-text-shop-link:hover {
    scale: 1.2;
}

.product img{
    width: var(--width-height-image-product);
    height: var(--width-height-image-product);
}

.product {
    width: fit-content;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.product:hover {
    box-shadow: 10px 24px 32px rgba(0, 0, 0, 0.15);
    scale: 1.04;
}

.detail-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    color: var(--text-color);
}

.products {
    background-color: #fcfcfc;
}

.products-title {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 100px;    
}

.product-view-btn {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-view-btn);
    color: white;
    transition: 0.4s;
}

.product-view-btn:hover{
    background-color: white;
    box-shadow: 1px 1px 3px var(--color-view-btn);
    color: var(--color-view-btn);
}

.footer-item img{
    width: 150px;
    height: 150px;
}

.footer-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-item span{
    font-weight: bold;
    font-size: 20px;
}

.footer-item p{
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 200px;
}